langchain-community
langchain-core
langchain-openai
langgraph>=0.0.1
python-dotenv
fastapi
uvicorn[standard]
websockets
pyyaml
jinja2
aiofiles
sqlalchemy
langgraph-checkpoint-postgres
scikit-learn
pandas
numpy
gunicorn
